/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html,
body {
  margin: 0;

  padding: 0;
}

* {
  font-family: "Raleway", sans-serif;
}

header {
  /* border: 1px solid lightblue; */
  position: relative;
  display: block;
  margin: 20px 50px 20px 50px;
  height: 50px;
}

header > a > img.logo {
  position: absolute;
  top: 5%;
  width: 40px;
  height: 40px;
}

nav {
  position: absolute;
  right: 10px;
}
.dropdown {
  margin-top: 30px;
}

#map {
  margin: 20px 0 0 110px;
}

li {
  /* transition-duration: 0.5s; */
}

ul li ul {
  transition: all 0.5s ease;
  margin-top: 1rem;
  margin-left: 104px;
}

ul li:hover > ul,
ul li ul:hover {
  opacity: 1;
}

ul {
  /* background: darkorange; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #484848;
  /* background: darkorange; */
  float: left;
  padding: 1em;
  position: static;
  text-decoration: none;
  /* transition-duration: 0.5s; */
}

ul > li > a {
  color: #484848;
  font-size: 12pt;
  font-weight: 600;
}

ul.dropmenu > li > a {
  font-size: 8pt;
  padding: 0;
}

ul.dropdown {
  margin-left: 80px;
  width: 250px;
}

li:hover {
  cursor: pointer;
  border-bottom: 2px solid #484848;
  z-index: 100;
}

ul li ul {
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  /* transition: all 0.5s ease; */
  margin-top: 1rem;
  left: 0;
  font-size: 1pt;
  display: inline-block;
  z-index: 99;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #484848;
}
a:hover {
  color: black;
}

.App {
  /* border: 1px solid darkblue; */
}

div.content {
  margin: 0px 0 0 0px;
}

div.content > h1 {
  margin: 0 0 0 0px;
  color: #484848;
}

b {
  margin-bottom: 10px;
  color: #484848;
}

p {
  margin: 0 0 0 0px;
  color: #484848;
}

div.house-info > h1 {
  margin: 0px 0 0px 0px;
  color: #484848;
}
div.house-text > p {
  margin: 30px 0 0px 0px;
  color: #484848;
}

div.house-text-line-above {
  margin: 40px 0px 0px 0px;
  border-top: 1px solid #484848;
  opacity: 0.1;
}

small {
  margin: 0px 10px 0 0px;
  font-weight: 300;
}

div.descr-1,
div.descr-2,
div.descr-3,
div.descr-4 {
  margin: 0 0 20px 0px;
}

div.content {
  display: inline-block;
}

div.gallery-container,
div.apartment-listing > div.gallery-container {
  /* display: inline-block; */
  height: 290px;
  overflow: hidden;
  /* justify-content: space-between; */
}

div.gallery-container > div.react-photo-gallery--gallery > div > img {
  object-fit: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -moz-transition: 0.3s;
  -webkit-transition: 0.4s;
  transition: all 0.5s;

  /* border: 1px solid grey; */
}

img {
  margin: 0px;
}

div.gallery-container > div.react-photo-gallery--gallery > div > img:hover {
  -webkit-transform: scale(1.3);
  /* transform: scale(1.3); */
  -webkit-filter: grayscale(90%);
  transition: 0.3;
}

div.listing > div.listings-photo > a > img:hover {
  /* -webkit-transform: scale(1.3); */
  /* transform: scale(1.3); */
  -webkit-filter: grayscale(90%);
  transition: 0.3;
  overflow: hidden;
}

div.content > div.gallery-container,
div.listings-photo {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.house-info,
div.content {
  margin: 0 0 0 350px;
  padding: 10px;
  width: 50%;
}

.listing {
  margin: 0;
}

div.listings-all-houses > div {
  display: flex;
}

div.listing {
  margin: 10px;
}

div.listings-photo > a > img {
  width: 350px;
}

.react-photo-gallery--gallery {
  margin: 0;
}

button {
  border: 0;
  color: #484848;
  font-size: 12pt;
  font-weight: 600;
  padding: 1em 1em 1em 0em;
}

button:hover {
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid #484848;
  color: black;
}

div.listings-all-houses > div {
  justify-content: center;
}
